html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
/* End css reset */

.hero {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero a {
  text-decoration: none;
  font-size: 24px;
  color: #e5e7eb;
}
.hero ul {
  display: flex;
  list-style-type: none;
}
