html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
  background-color: #1f2937;
  width: 100%;
}

.hero h1 {
  padding: 0 200px;
}
ul {
  display: flex;
}

ul li {
  list-style-type: none;
  padding: 0 12px;
}

ul a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #e5e7eb;
}
